{% extends 'BovSystem/gestacoes/base-gestacao.html' %}

{% load static %}


{% block titulo %} Adicionar Gestação {% endblock %}


{% block main %}
<form method="post" id="form">
    {% csrf_token %}
    {{ gestacao_form }}
    <button type="submit"class="btn btn-outline-success"> Salvar </button>
</form>
<script>
    $('document').ready(()=>{
        {% if mensagem %}
            alert('{{mensagem}}')
        {% endif %}
        var animais=[]
        var coberturas=[]
        {% for cobertura in coberturas %}
            coberturas.push([{{cobertura.id}},'{{cobertura.macho.nome}}',{{cobertura.femea.codigo}}])
            animais.push([{{cobertura.femea.codigo}},'{{cobertura.femea.nome}}'])
        {% endfor %}
        $("#id_cobertura option").each( (i,e) =>{
            if (i<=(coberturas.length-1)){
                $("#id_cobertura option").eq(i).val(coberturas[(i)][0])
                $("#id_cobertura option").eq(i).text(coberturas[(i)][1])
            }else{
                e.remove()
            }
        })
        $("#id_animal option").each( (i,e) =>{
            if (i<=(animais.length-1)){
                $("#id_animal option").eq(i).val(animais[(i)][0])
                $("#id_animal option").eq(i).text(animais[(i)][1])
            }else{
                e.remove()
            }
        })
        $("#id_inicio").attr("type","date")
    })
    $("#id_animal").on('input', function() {
        var animais=[]
        var coberturas=[]
        {% for cobertura in coberturas %}
            coberturas.push([{{cobertura.id}},'{{cobertura.macho.nome}}',{{cobertura.femea.codigo}}])
            animais.push([{{cobertura.femea.codigo}},'{{cobertura.femea.nome}}'])
        {% endfor %}
        $("#id_cobertura option").each( (i,e) =>{
            e.remove()
        })
        coberturas.forEach((cobertura) => {
            if (cobertura[2]==$("#id_animal").val()) {
                $("#id_cobertura").append('<option value="'+cobertura[0]+'" selected="">'+cobertura[1]+'</option>')
            }
        });
    })
</script>

{% endblock %}