{% extends 'BovSystem/saidas_de_leite/base-saida-de-leite.html' %}

{% load static %}


{% block titulo %} Editar Saidas de leite {% endblock %}


{% block main %}
<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit"class="btn btn-outline-success"> Salvar </button>
</form>
<script>
    $('document').ready(()=>{
        var data = $("#id_data").val().split("/")
        var dd = data[0]
        var mm = data[1]
        var yyyy = data[2]
        $("#id_data").val()
        $("#id_data").attr("type","date")
        $("#id_data").val(yyyy+"-"+mm+"-"+dd)
    })
</script>
{% endblock %}