{% extends 'BovSystem/coberturas/base-cobertura.html' %}

{% load static %}


{% block titulo %} Editar Cobertura {% endblock %}


{% block main %}
<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit"class="btn btn-outline-success"> Salvar </button>
</form>
<script>
    $('document').ready(()=>{
        var femeas=[]
        var machos = []
        {% for femea in femeas %}
            femeas.push([{{femea.codigo}},'{{femea.nome}}'])
        {% endfor %}
        {% for macho in machos %}
            machos.push([{{macho.codigo}},'{{macho.nome}}'])
        {% endfor %}
        
        $("#id_femea option").each( (i,e) =>{
            if (i<=(femeas.length-1)){
                $("#id_femea option").eq(i).val(femeas[(i)][0])
                $("#id_femea option").eq(i).text(femeas[(i)][1])
                if($("#id_femea option").eq(i).val()=={{cobertura.femea.codigo}}){
                    $("#id_femea option").eq(i).attr("selected",true)
                }else{
                    $("#id_femea option").eq(i).removeAttr("selected")
                }
                
            }else{
                e.remove()
            }
        })

        $("#id_macho option").each( (i,e) =>{
            if (i<=(machos.length-1)){
                $("#id_macho option").eq(i).val(machos[(i)][0])
                $("#id_macho option").eq(i).text(machos[(i)][1])
                if($("#id_macho option").eq(i).val()=={{cobertura.macho.codigo}}){
                    $("#id_macho option").eq(i).attr("selected",true)
                }else{
                    $("#id_macho option").eq(i).removeAttr("selected")
                }
            }else{
                e.remove()
            }
        })
        var dataInicio = $("#id_inicio").val().split("/")
        var dd = dataInicio[0]
        var mm = dataInicio[1]
        var yyyy = dataInicio[2]
        $("#id_inicio").val()
        $("#id_inicio").attr("type","date")
        $("#id_inicio").val(yyyy+"-"+mm+"-"+dd)
    })
</script>
{% endblock %}