{% extends 'producoes_de_leite/base-producao-de-leite.html' %}

{% load static %}


{% block titulo %} Editar Produção de leite {% endblock %}


{% block main %}
<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit"> Salvar </button>
</form>
<script>
    $('document').ready(()=>{
        var femeas=[]
        {% for femea in femeas %}
            femeas.push([{{femea.codigo}},'{{femea.nome}}'])
        {% endfor %}
        $("#id_femea option").each( (i,e) =>{
            if (i<=(femeas.length-1)){
                $("#id_femea option").eq(i).val(femeas[(i)][0])
                $("#id_femea option").eq(i).text(femeas[(i)][1])
                if($("#id_femea option").eq(i).val()=={{producao_de_leite.femea.codigo}}){
                    $("#id_femea option").eq(i).attr("selected",true)
                }else{
                    $("#id_femea option").eq(i).removeAttr("selected")
                }

            }else{
                e.remove()
            }
        })
        var data = $("#id_data").val().split("/")
        var dd = data[0]
        var mm = data[1]
        var yyyy = data[2]
        $("#id_data").val()
        $("#id_data").attr("type","date")
        $("#id_data").val(yyyy+"-"+mm+"-"+dd)
    })
</script>
{% endblock %}