{% extends 'gestacoes/base-gestacao.html' %}

{% load static %}


{% block titulo %} Editar Gestação {% endblock %}


{% block main %}
<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit"class="btn btn-outline-success"> Salvar </button>
</form>
<script>
    $('document').ready(()=>{
        var animais=[]
        {% for animal in animais %}
            animais.push([{{animal.codigo}},'{{animal.nome}}'])
        {% endfor %}
        $("#id_animal option").each( (i,e) =>{
            if (i<=(animais.length-1)){
                $("#id_animal option").eq(i).val(animais[(i)][0])
                $("#id_animal option").eq(i).text(animais[(i)][1])
                if($("#id_animal option").eq(i).val()=={{gestacao.animal.codigo}}){
                    $("#id_animal option").eq(i).attr("selected",true)
                }else{
                    $("#id_animal option").eq(i).removeAttr("selected")
                }

            }else{
                e.remove()
            }
        })
        $("form > label:nth-child(6)").attr("hidden",true)
        $("#id_cobertura").attr("hidden",true)
        var dataInicio = $("#id_inicio").val().split("/")
        var dd = dataInicio[0]
        var mm = dataInicio[1]
        var yyyy = dataInicio[2]
        $("#id_inicio").val()
        $("#id_inicio").attr("type","date")
        $("#id_inicio").val(yyyy+"-"+mm+"-"+dd)
    })
</script>
{% endblock %}