{% extends 'estoque/controle_estoque/base-controle-estoque.html' %}

{% load static %}


{% block titulo %} Editar {{ controle_estoque.tipo }} do Estoque {% endblock %}


{% block main %}
<form method="post">
    {% csrf_token %}
    {{ form }}
    {% if controle_estoque.tipo == "Entrada" %}
        <label for="valor"> Gasto: </label>
        <input type="number" name="valor" id="valor" value="{{ controle_estoque.gasto.valor }}">
    {% endif %}
    <button type="submit"class="btn btn-outline-success"> Salvar </button>
</form>
<script>
    $('document').ready(()=>{
        var data = $("#id_data").val().split("/")
        var dd = data[0]
        var mm = data[1]
        var yyyy = data[2]
        $("#id_data").val()
        $("#id_data").attr("type","date")
        $("#id_data").val(yyyy+"-"+mm+"-"+dd)
        
        $("#id_hora").attr("type","time").attr("step","1")
        
        $("#id_gasto").remove()
        $("label:nth-child(2)").remove()
        $("#id_tipo").empty()
        $("#id_tipo").remove()
        $("form").prepend('<input type="hidden" name="tipo" id="id_tipo" value="{{ controle_estoque.tipo }}">')
        $("label:nth-child(5)").remove()
        var materiais=[]
        {% for material in materiais %}
            materiais.push([{{material.id}},'{{material.nome}}'])
        {% endfor %}
        $("#id_material option").each( (i,e) =>{
            if (i<=(materiais.length-1)){
                $("#id_material option").eq(i).val(materiais[(i)][0])
                $("#id_material option").eq(i).text(materiais[(i)][1])
                if($("#id_material option").eq(i).val()=={{controle_estoque.material.id}}){
                    $("#id_material option").eq(i).attr("selected",true)
                }else{
                    $("#id_material option").eq(i).removeAttr("selected")
                }

            }else{
                e.remove()
            }
        })
    })
</script>
{% endblock %}