{% extends 'registros_financeiros/base-registro-financeiro.html' %}

{% load static %}


{% block titulo %} Editar Registro Financeiro {% endblock %}


{% block main %}
<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit"> Salvar </button>
</form>
<script>
    $('document').ready(()=>{
        var data = $("#id_data").val().split("/")
        var dd = data[0]
        var mm = data[1]
        var yyyy = data[2]
        $("#id_data").val()
        $("#id_data").attr("type","date")
        $("#id_data").val(yyyy+"-"+mm+"-"+dd)
        
        $("#id_hora").attr("type","time").attr("step","1")
    })
</script>
{% endblock %}