{% extends 'janela.html' %}

{% load static %}

{% block breadcrumb %}
Controle de Estoque
{% endblock %}

{% block modal %}

{% endblock %}

{% block tabela %}
<script>
  let tabela = $('table').DataTable({
    ajax: `{% url 'carregar_controle_estoque' %}`,
    columns: [
      { title: 'Codigo', className: 'all' },
      { title: 'Tipo', className: 'all' },
      { title: 'Material', className: 'min-desktop' },
      { title: 'Data', className: 'min-desktop' },
      { title: 'Hora', className: 'min-desktop' },
      { title: 'Descriçao', className: 'min-desktop' },
      { className: 'control', title: `<img src="{% static 'img/expandir.svg' %}">` }
    ],
    order: [[1, 'asc']],
    buttons: [
      {
        text: `<img height='11px' src="{% static 'img/adicionar.svg' %}"><br>Entrada`,
        className: 'btn-outline-success',
        action: () =>{
          window.location.assign("{% url 'cadastrar_entrada_estoque' %}");
        }
      },
      {
        text: `<img height='11px' src="{% static 'img/remover.svg' %}"><br>Saída`,
        className: 'btn-outline-danger',
        action: () =>{
          window.location.assign("{% url 'cadastrar_saida_estoque' %}");
        }
      },
      {
        text: `<img height='10px' src="{% static 'img/editar.svg' %}"><br>Editar`,
        className: 'editar',
        extend: 'selectedSingle',
        action: () =>{
          codigo = tabela.row({ selected: true }).data()[0]
          url = "/estoque/controle/"+ codigo +"/editar/"
          window.location.assign(url);
        }
      },
      {
        text: `<img height='13px' src="{% static 'img/apagar.svg' %}"><br>Apagar`,
        className: 'apagar',
        extend: 'selectedSingle',
        action: () =>{
          codigo = tabela.row({ selected: true }).data()[0]
          token = { 'csrfmiddlewaretoken' : $('input[name=csrfmiddlewaretoken]').val() }
          url = "/estoque/controle/"+ codigo +"/apagar/"
          $.post(url, token, function (data) { 
            if (typeof data.mensagem != "undefined"){
              alert(data.mensagem)
            }
            tabela.ajax.reload(function () {}, false).columns.adjust()
            $('#resultados').attr('max', tabela.rows().count())
          })
        }
      }
    ]
  })
  {% if mensagem %}
    $('document').ready(()=>{
      alert("{{mensagem}}")
    })
  {% endif %}
</script>
{% csrf_token %}
{% endblock %}

{% block validacao %}
{% endblock %}

{% block envio %}
{% endblock %}