{% extends 'estoque/base-material.html' %}

{% load static %}


{% block titulo %} Editar Material {% endblock %}


{% block main %}
<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit"> Salvar </button>
</form>
<script>
    $('document').ready(()=>{
        var validade = $("#id_validade").val().split("/")
        var dd = validade[0]
        var mm = validade[1]
        var yyyy = validade[2]
        $("#id_validade").val()
        $("#id_validade").attr("type","date")
        $("#id_validade").val(yyyy+"-"+mm+"-"+dd)
        
    })
</script>
{% endblock %}