{% extends 'OvinoSystem/janela.html' %}

{% load static %}

{% block breadcrumb %}
Estoque
{% endblock %}

{% block modal %}
<div class="form-group">
  <label for="tipo">Tipo:</label>
  <span class="d-none">Por favor informe um Tipo.</span>
  <small class="text-danger font-weight-bold float-right pt-1 mr-2"></small>
  <input type="text" class="form-control" id="tipo">
</div>
<div class="form-group">
  <label for="nome">Nome:</label>
  <span class="d-none">Por favor informe um nome.</span>
  <small class="text-danger font-weight-bold float-right pt-1 mr-2"></small>
  <input type="text" class="form-control" id="nome">
</div>
<div class="form-group">
  <label for="validade">Validade:</label>
  <span class="d-none">Por favor informe uma validade.</span>
  <small class="text-danger font-weight-bold float-right pt-1 mr-2"></small>
  <input type="date" class="form-control" id="validade">
</div>
<div class="form-group">
  <label for="quantidade">Quantidade:</label>
  <span class="d-none">Por favor informe uma capacidade unitária.</span>
  <small class="text-danger font-weight-bold float-right pt-1 mr-2"></small>
  <input type="text" class="form-control" id="quantidade">
</div>
{% endblock %}

{% block tabela %}
{% csrf_token %}
<script>
  let tabela = $('table').DataTable({
    ajax: `{% url 'ovinosystem_carregar_estoque' %}`,
    columns: [
      { title: 'Tipo', className: 'all' },
      { title: 'Nome', className: 'all' },
      { title: 'Validade', className: 'min-desktop' },
      { title: 'Quantidade', className: 'min-desktop' },
      { className: 'control', title: `<img src="{% static 'OvinoSystem/img/expandir.svg' %}">` }
    ],
    order: [[1, 'asc']],
    buttons: [
      {
        text: `<img height='11px' src="{% static 'OvinoSystem/img/adicionar.svg' %}"><br>Adic.`,
        className: 'btn-outline-success',
        action: () =>{
          $('.modal-title').text('Adicionar Material')
          $('form input').removeClass('is-valid is-invalid').prev().removeClass('text-muted').empty()
          $('#tipo').prop('disabled', false).val('')
          $('#nome').val('')
          $('#validade').val('')
          $('#quantidade').val('')
          $('#salvar').addClass('disabled')
          $('.modal').prop('acao', 'adicionar').modal('show')
        }
      },
      {
        text: `<img height='10px' src="{% static 'OvinoSystem/img/editar.svg' %}"><br>Editar`,
        className: 'editar',
        extend: 'selectedSingle',
        action: () =>{
          $('.modal-title').text('Editar Material')
          $('form input').removeClass('is-valid is-invalid').prev().removeClass('text-muted').empty()
          $('#tipo').prop('disabled', true).val(tabela.row({ selected: true }).data()[0])
          $('#nome').val(tabela.row({ selected: true }).data()[1])
          $('#validade').val(tabela.row({ selected: true }).data()[2])
          $('#quantidade').val(tabela.row({ selected: true }).data()[3])
          $('#salvar').addClass('disabled')
          $('.modal').prop('acao', 'editar').modal('show')
        }
      },
      {
        text: `<img height='13px' src="{% static 'OvinoSystem/img/apagar.svg' %}"><br>Apagar`,
        className: 'apagar',
        extend: 'selectedSingle',
        action: () =>{ apagar() }
      }
    ]
  })
</script>
{% endblock %}

{% block validacao %}
<script>
  $('form input').on('input', function () {
    $('#salvar').addClass('disabled')
    input = $(this).removeClass('is-valid').addClass('is-invalid')
    valor = input.val()
    mensagem = input.prev().removeClass('text-muted')
    switch (input.attr('id')) {
      case 'tipo':
        chave = tabela.column(0).data().toArray()
        if (valor == '') {
          mensagem.text('Por favor informe um Tipo.')
        } else if (valor.match(/^[a-záàâãéèêíïóôõöúçñ ]+$/i) == null) {
          mensagem.text('Apenas letras.')
        } else {
          mensagem.empty()
          input.removeClass('is-invalid').addClass('is-valid')
        }; break
      case 'nome':
        if (valor == '') {
          mensagem.text('Por favor informe um nome.')
        } else if (valor.match(/^[a-záàâãéèêíïóôõöúçñ ]+$/i) == null) {
          mensagem.text('Apenas letras.')
        } else {
          mensagem.empty()
          input.removeClass('is-invalid').addClass('is-valid')
        }; break
      case 'validade':
        if (valor == '') {
          mensagem.text('Por favor informe uma validade.')
        } else {
          mensagem.empty()
          input.removeClass('is-invalid').addClass('is-valid')
        }; break
      case 'quantidade':
        if (valor == '') {
          mensagem.text('Por favor informe uma quantidade.')
        } else if (valor.match(/^[0-9]+$/) == null) {
          mensagem.text('Somente números.')
        } else {
          mensagem.empty()
          input.removeClass('is-invalid').addClass('is-valid')
        }
    }
    switch ($('.modal').prop('acao')) {
      case 'adicionar':
        $('form input').each(() =>{
          input = $(this)
          valor = input.val()
          mensagem = input.prev().text()
          if (valor != '' && mensagem == '') {
            input.removeClass('is-invalid').addClass('is-valid')
          }
        })
        if ($('.is-valid').length == $('form input').length) {
          $('#salvar').removeClass('disabled')
        } break
      case 'editar':
        mensagens = false
        $('form small').each(() =>{
          if ($(this).text() != '') {
            mensagens = true
          }
        })
        if ($('.is-invalid').length == 0 && !mensagens) {
          $('#salvar').removeClass('disabled')
        }
    }
  })
</script>
{% endblock %}

{% block envio %}
<script>
  function adicionar() {
    valores = {
      'csrfmiddlewaretoken' : $('input[name=csrfmiddlewaretoken]').val(),
      'tipo': $('#tipo').val(),
      'nome': $('#nome').val(),
      'validade': $('#validade').val(),
      'quantidade': $('#quantidade').val(),
      'modelo': 'M'
    }
    $.post(`{% url 'ovinosystem_adicionar' %}`, valores, () =>{
      tabela.ajax.reload(() =>{}, false).columns.adjust()
      $('#resultados').attr('max', tabela.rows().count())
      $('.modal').modal('hide')
    })
  }
  function editar() {
    valores = {
      'csrfmiddlewaretoken' : $('input[name=csrfmiddlewaretoken]').val(),
      'tipo': $('#tipo').val(),
      'nome': $('#nome').val(),
      'validade': $('#validade').val(),
      'quantidade': $('#quantidade').val(),
      'modelo': 'M'
    }
    $.post(`{% url 'ovinosystem_adicionar' %}`, valores, () =>{
      tabela.ajax.reload(() =>{}, false).columns.adjust()
      $('#resultados').attr('max', tabela.rows().count())
      $('.modal').modal('hide')
    })
  }
  function apagar() {
    valores = {
      'csrfmiddlewaretoken' : $('input[name=csrfmiddlewaretoken]').val(),
      'codigo': tabela.row({ selected: true }).data()[1],
      'modelo': 'M'
    }
    $.post(`{% url 'ovinosystem_apagar' %}`, valores, () =>{
      tabela.ajax.reload(() =>{}, false).columns.adjust()
      $('#resultados').attr('max', tabela.rows().count())
    })
  }
</script>
{% endblock %}