{% extends 'Viveiro/base.html' %}

{% load static %}

{% block css %}
<style>
  .breadcrumb {
    padding-left: 12px;
  }

  .tabela {
    margin-bottom: 0px !important;
    padding-bottom: 1rem;
  }

  .dt-buttons {
    position: sticky;
    top: 20px;
  }

  .dt-buttons button {
    display: block;
    width: 75px;
    padding: 8px;
  }

  #tabela {
    right: 1rem;
  }

  th {
    border-top: 0 !important;
  }

  td {
    vertical-align: middle !important;
  }

  .disabled {
    cursor: default !important;
  }

  .resultados {
    cursor: pointer;
  }

  .input-group-prepend,
  .form-control.p-0,
  .input-group-text.custom-select {
    height: 28px;
  }

  .input-group-text.bg-white.p-0 {
    width: 40px;
  }

  .position-absolute.w-100 {
    height: 8.1px;
    top: 9px;
    background-color: #dee2e6;
  }

  #resultados {
    margin-top: 2px;
  }

  .my-auto.ml-1 {
    cursor: default;
  }

  @media (max-width: 1225px) {
    body {
      text-align: center;
    }

    .row.mt-3.mb-0.mx-3 {
      margin: 1rem 0 0 0 !important;
    }

    .col.mt-1 {
      padding: 0 0 !important;
    }

    p {
      display: none;
    }

    .breadcrumb {
      border: 0;
      padding: 0.5rem 0 1.5rem 0 !important;
    }

    .breadcrumb li:nth-child(1),
    .breadcrumb li:nth-child(2)::before {
      display: none !important;
    }

    .breadcrumb li:nth-child(2) {
      margin: auto;
      padding: 0 !important;
      color: #555 !important;
    }

    .tabela {
      padding-bottom: 0 !important;
      margin-top: -4px;
    }

    #controles {
      margin-bottom: 0;
      padding: 0 !important;
      z-index: 1;
      position: sticky;
      top: 0;
    }

    .dt-buttons {
      width: 100%;
      margin-bottom: 0 !important;
    }

    .dt-buttons button {
      padding: 2rem;
      border: 0;
      border-color: #e3e3e3 !important;
      opacity: 1 !important;
      border-radius: 0;
    }

    table.dataTable {
      margin-top: 0 !important;
    }

    .dataTables_length,
    .dataTables_info,
    .dataTables_filter,
    .dataTables_paginate {
      display: none;
    }

    .dataTables_wrapper :nth-child(2) div:first-child {
      padding-left: 0;
      padding-right: 0;
    }

    th {
      padding: 1.25rem 2rem !important;
      color: #555;
    }

    th::before,
    th::after {
      display: none !important;
    }

    td {
      line-height: 1.15;
      padding-top: 1rem !important;
      padding-bottom: 1rem !important;
    }

    td.child li {
      border-bottom: 0px !important;
      padding: 0.5em 0px !important;
    }
  }
</style>
{% endblock %}

{% block conteudo %}
<div class="row mt-3 mb-0 mx-3">
  <div class="col mt-1">
    <h1 class="d-inline">Viveiro</h1>
    <div class="mb-2 ml-2 spinner-border spinner-border-sm text-info"></div>
    <p>Sistema de gerenciamento do viveiro</p>
    <ol class="breadcrumb bg-light py-1 mb-1 font-weight-bold text-uppercase">
      <li class="breadcrumb-item d-inline">
        <a href="{% url 'viveiro_index' %}" class="text-decoration-none">
          <img height="11px" src="{% static 'Viveiro/img/voltar.svg' %}" class="mb-1 mr-1">Início
        </a>
      </li>
      <li class="breadcrumb-item active d-inline">
        {% block breadcrumb %}
        {% endblock %}
      </li>
    </ol>
  </div>
</div>

<div class="tabela row m-3">
  <div id="controles" class="col-sm-auto pr-4"></div>
  <div id="tabela" class="col-sm pr-0">
    <table class="table table-sm table-hover w-100"></table>
  </div>
</div>

<form class="text-left">
  <div class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% block modal %}
          {% endblock %}
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" id="salvar">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</form>

<script src="{% static 'Viveiro/js/jquery.min.js' %}"></script>
<script src="{% static 'Viveiro/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'Viveiro/js/datatables.min.js' %}"></script>
<script>
  $.extend(true, $.fn.dataTable.defaults, {
    language: {
      'sEmptyTable': 'Nenhum registro encontrado',
      'sInfo': 'Mostrando _START_ a _END_ de _TOTAL_ registros',
      'sInfoEmpty': 'Mostrando 0 registros',
      'sInfoFiltered': '(filtrados de _MAX_ registros)',
      'sInfoThousands': '.',
      'sLengthMenu':
        `<div class="input-group resultados">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white p-0">
                        <span class="m-auto">10</span>
                    </div>
                </div>
                <div class="form-control p-0 d-none">
                    <div class="position-absolute w-100"></div>
                    <input type="range" min="1" class="custom-range position-relative" id="resultados">
                </div>
                <div class="input-group-append">
                    <span class="input-group-text custom-select pl-1 rounded-right"></span>
                    <span class="my-auto ml-1">resultados por página</span>
                </div>
            </div>`,
      'sLoadingRecords': 'Carregando...',
      'sProcessing': 'Processando...',
      'sZeroRecords': 'Nenhum registro encontrado',
      'sSearch': 'Pesquisar:',
      'oPaginate': {
        'sNext': 'Próximo',
        'sPrevious': 'Anterior',
        'sFirst': 'Primeiro',
        'sLast': 'Último'
      },
      select: {
        rows: {
          _: '',
          0: '',
          1: '1 registro selecionado'
        }
      }
    },
    responsive: {
      details: {
        type: 'column',
        target: -1
      }
    },
    columnDefs: [
      {
        orderable: false,
        targets: -1
      }
    ],
    select: {
      style: 'single',
      blurable: true,
      selector: 'td:not(:last-child)'
    },
    initComplete: function () {
      altura = 328
      $('#controles').html(tabela.buttons().container())
      $('.spinner-border').hide()
      var resultados = Math.floor((window.innerHeight - altura) / 30)
      function grande() {
        $('#controles, #tabela').parent().addClass('row m-3')
        $('.dt-buttons').removeClass('btn-group')
        $('#tabela').addClass('col-sm')
        $('.dataTables_wrapper').children().addClass('row')
        $('table').addClass('table-sm')
        tabela.page.len(resultados).draw('page')
        $('#resultados').val(resultados).parent().prev().find('span').text(resultados)
      }
      function pequena() {
        $('#controles, #tabela').parent().removeClass('row m-3')
        $('#tabela').removeClass('col-sm')
        $('.dataTables_wrapper').children().removeClass('row')
        $('.dt-buttons').addClass('btn-group')
        $('table').removeClass('table-sm')
        tabela.page.len('-1').draw('page')
      }
      if (window.innerWidth > 1225) {
        grande()
      }
      else {
        pequena()
      }
      $(window).on('resize', function () {
        if (window.innerWidth > 1225) {
          resultados = Math.floor((window.innerHeight - altura) / 30)
          grande()
        } else {
          pequena()
        }
      })
      $('#resultados').attr('max', tabela.rows().count()).val(resultados).on('input', function () {
        $(this).parent().prev().find('span').text($(this).val())
      }).on('click keyup', function () {
        tabela.page.len($(this).val()).draw('page')
      })
      $('.input-group-prepend').on('click', function () {
        $('#resultados').val(resultados).parent().prev().find('span').text(resultados)
        tabela.page.len(resultados).draw('page')
      })
      $('.resultados .custom-select').on('click', function () {
        $(this).parent().prev().toggleClass('d-none')
      })
      $('#resultados').on('blur', function () {
        $(this).parent().toggleClass('d-none')
      })
      tabela.on('select', function () {
        $('.editar').addClass('btn-outline-warning')
        $('.apagar').addClass('btn-outline-danger')
      })
      tabela.on('deselect', function () {
        $('.editar').removeClass('btn-outline-warning')
        $('.apagar').removeClass('btn-outline-danger')
      })
    }
  })

  $('form').on('submit', function (e) {
    e.preventDefault()
    $('form input').each(function () {
      input = $(this)
      valor = input.val()
      mensagem = input.prev()
      if (valor == '' || valor == null) {
        input.removeClass('is-valid').addClass('is-invalid')
        mensagem.text(mensagem.prev().text())
      } else if ($('.modal').prop('acao') == 'adicionar' && valor != '' && mensagem.text() == '') {
        input.removeClass('is-invalid').addClass('is-valid')
      }
    })
    if ($('#salvar').hasClass('disabled') == false) {
      switch ($('.modal').prop('acao')) {
        case 'adicionar': adicionar(); break
        case 'editar': editar()
      }
    }
  })
</script>

{% block tabela %}{% endblock %}
{% block validacao %}{% endblock %}
{% block envio %}{% endblock %}
{% endblock %}