{% extends 'BovSystem/producoes_de_leite/base-producao-de-leite.html' %}

{% load static %}

{% block style %}
<style>
    .breadfake {
        border-color:#e3e3e3;
        border-style:solid;
        border-width:0 1px 4px 1px;
        border-radius: 0.8em;
        text-align:center !important;
        background-color:#f0f0f0 !important;
    }
    .no-padding {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
</style>
{% endblock %}

{% block titulo %} Leite produzido{% endblock %}

{% block main %}
<main>
    <div class="col-12 row justify-content-center">
      <div class="card bg-light my-3 mx-3 px-0 col-10 justify-content-center">
        <div class="card-header breadfake row justify-content-between">
          <div class="col-3">
            <label class="row" for="femea">Matriz</label>
            <select class="dropdown-toggle row" name="femea" id="femea">
              <option value="0">Geral</option>
            </select>
          </div>
          <div class="col-3">
            <label class="row" for="inicio">Inicio</label>
            <input class="row" type="date" name="inicio" id="inicio">
          </div>
          <div class="col-3">
            <label class="row" for="fim">Fim</label>
            <input class="row" type="date" name="fim" id="fim">
          </div>
          <button class="col-3 btn btn-outline-success" onclick="changeData()">Salvar</button>
        </div>
        <div class="card-body row justify-content-center">
          <canvas id="myChart" class="col-10" height="350"></canvas>
        </div>
      </div>
    </div>
</main>
{% csrf_token %}
<script>
    {% for femea in femeas %}
      $("#femea").append("<option value="+{{femea.codigo}}+">"+"{{femea.nome}}"+"</option>")
    {% endfor %}
    function changeData(){
      femea = $("#femea").val()
      inicio = $("#inicio").val()
      fim = $("#fim").val()
      token = { 'csrfmiddlewaretoken' : $('input[name=csrfmiddlewaretoken]').val() }
      url = "/bovsystem/producoes-de-leite/graficos/"+femea+"/"+inicio+"/"+fim+"/"
      $.get(url, token, function (dados) {
        data.datasets[0].data = dados.dados[0]
        data.labels = dados.dados[1]
        myChart.update()
      })
    }
    $("#inicio").on("input", function(){
      $("#fim").attr("min",$("#inicio").val())
    })
    $("#fim").on("input", function(){
      $("#inicio").attr("max",$("#fim").val())
    })
    Chart.platform.disableCSSInjection = true;
    var ctx = document.getElementById('myChart').getContext("2d");
    var gradientFill = ctx.createLinearGradient(0, 100, 0, 200);
    gradientFill.addColorStop(0, "rgba(87, 184, 70, 0.8)");
    gradientFill.addColorStop(1, "rgba(87, 184, 70, 0.2)");
    var data = {
            labels: ['DOM','SEG', 'TER', 'QUA', 'QUI', 'SEX', 'SAB'],
            datasets: [{
                label: 'Litros de leite',
                data: [0,0,0,0,0,0,0],
                backgroundColor: gradientFill,
                borderColor: 'rgba(87, 184, 70, 1)',
                borderWidth: 0,

            }]
        };
    var myChart = new Chart(ctx, {
        type: 'line',
        data: data,
        options: {
          scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
          },
          title: {
            display: true,
            text: 'Geral',
            fontStyle: 'bold',
            fontColor: 'black',
            fontSize: 15
          }
        }
    });
  </script>
{% endblock %}